# Hoisting des dépendances à la racine
shamefully-hoist=true
strict-peer-dependencies=false

# Performance
auto-install-peers=true

# Workspace
link-workspace-packages=true
shared-workspace-lockfile=true
ignore-workspace-root-check=false